ALCHEMY_API_KEY=AAAAAAAAAAAAAAAAA
ETHERSCAN_API_KEY=AAAAAAAAAAAAAAAAAAAA
BSC_API_KEY=AAAAAAAAAAAAAAAAAAAAAA
MNEMONIC=oen two three four five six seven eight nine ten
PRIVATE_KEY=000000000000000000000000000000000000000000000
REPORT_GAS=true